In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/airport-codes_csv.csv')

In [4]:
df.shape

(56243, 12)

In [5]:
df.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56243 entries, 0 to 56242
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         56243 non-null  object
 1   type          56243 non-null  object
 2   name          56243 non-null  object
 3   elevation_ft  48980 non-null  float64
 4   continent     28151 non-null  object
 5   iso_country   55997 non-null  object
 6   iso_region    56243 non-null  object
 7   municipality  50419 non-null  object
 8   gps_code      41067 non-null  object
 9   iata_code     9232 non-null   object
 10  local_code    29182 non-null  object
 11  coordinates   56243 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.1+ MB

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [21]:
df['ident'].dtype.str

'|O'

In [25]:
list(zip(df.columns, df.dtypes))

[('ident', dtype('O')),
 ('type', dtype('O')),
 ('name', dtype('O')),
 ('elevation_ft', dtype('float64')),
 ('continent', dtype('O')),
 ('iso_country', dtype('O')),
 ('iso_region', dtype('O')),
 ('municipality', dtype('O')),
 ('gps_code', dtype('O')),
 ('iata_code', dtype('O')),
 ('local_code', dtype('O')),
 ('coordinates', dtype('O'))]

In [27]:
cat_cols = list(filter(lambda x: x[1] == '|O', zip(df.columns, df.dtypes)))

In [32]:
df['number'] = 1

In [ ]:
import math
# fig, ax = plt.subplots(math.ceil(cat_cols/2, 2))
for col in cat_cols:
    df.groupby([col[0]]).count()['number'].plot.bar()

In [10]:
len(df)

56243